<h4 style="margin-top: 15px">{{ courses }}</h4>
<h5>Course's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="nameInput">Name</label>
       <input class="u-full-width" type="text" id="name" value="{{ name }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="periodInput">Period</label>
       <input class="u-full-width" type="text" id="period" value="{{period }}" readonly/>
    </div>
    <div class="six columns">
       <label for="yearInput">Year</label>
       <input class="u-full-width" type="text" id="year" value="{{ year }}" readonly/>
    </div>
  </div>
  <!-- <div class="row">
    <div class="six columns">
       <label for=" groupInput">Group</label>
       <a href="/groupById/?id={{ group_id }}">
         <input class="u-full-width" type="button" id="groupid" value="{{ group_id }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="professorInput">Professor</label>
       <a href="professorById/?id={{ professor_id }}">
         <input class="u-full-width" type="button" id="professor_id" value="{{ professor_id }}" readonly/>
       </a>
    </div>
  </div> -->
</form>

<h5>Groups</h5>
<ul>
{{#groups}}
  <li><a href="/groupById/?id={{group_id}}">{{code}}</li>
{{/groups}}
</ul>