<h4 style="margin-top: 15px">{{ professors }}</h4>

<h5>Professors's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="countryInput">Country</label>
       <input class="u-full-width" id="country" type="text" value="{{ country }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="profnameInput">Name</label>
       <input class="u-full-width" id="profname" type="text" value="{{ profname }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="employee_codeInput">Code</label>
       <input class="u-full-width" id="employee_code" type="text" value="{{ employee_code  }}"  readonly/>
    </div>
  </div>
</form>

<h5>Courses</h5>
<ul>
{{#courses}}
  <li><a href="/courseById/?id={{course_id}}">{{name}}</li>
{{/courses}}
</ul>
